@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.App {
    width: 70%;
    margin: 0 auto;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.text-align-center {
    text-align: center;
}

.questions {
    display: grid;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.enter {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-auto-flow: dense;


}

.enter > * {
    grid-column-start: 2;
    grid-column-end: 3;
}

.pagination {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-column-gap: 20px;
}

.signinGoogle {
    background-color: #d03d2f;
    margin: 10px 0 35px 0;
}

.enterByEmail {
    padding-top: 10px;
    color: #d03d2f;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;

}


.enterByEmail > * {
    margin: 0;

}

.notEnterByEmail > p:nth-child(1) {
    margin: 0 0 0 0;
    padding: 25px 0 0 0;

}

.notEnterByEmail > p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding: 0;
    margin: 0;

}

.legend > p {
    margin-top: 7px;
}

button {
    color: white;
    background-color: #000;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 13px;
    height: 50%;
    transform: none;
    padding: 7px 40px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.4s ease 0s;
    place-self: center;
    outline: none;
    margin: 25px 0 30px 0;

}

button:hover {
    background-color: #303030;
}

.questions > div {
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;
}


/*style for question*/
.question_title { /*need it in questions*/
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
    color: #333;
    font-size: 18px;

}

.padding_margin { /*need it in questions*/
    margin-bottom: 20px;
}

.question_item { /*need it in questions answers*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #555;


}

.moreResult {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 800;
    font-size: 26px;
    padding: 20px 0 0 0;
    margin: 0;
}

.question_item > span {
    font-size: 16px;
}

/*----------style for question ---------*/


/*result start*/

.partyImage > img {
    display: grid;
    width: 40%;
    height: 40%;
    margin: auto;
    padding: 0 0 15px 0;

}

.myLegends {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 15px;
}

.myLegends > div > p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #474747;
    font-size: 17px;
}

.facebookBtn > .buttonsShare {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    padding-bottom: 15px;

}

.facebookBtn > h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 19px;
}

.fb > div {
    justify-self: center;
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    display: grid;
    grid-template-columns: 2fr 9fr 1fr;
    align-items: center;
    background: #3b5998;
    color: white;
    justify-content: center;
}

.fb > div > * {
    place-self: center;
}

.fb > div > p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*result end*/


/* style in result page START*/
.content-center {
    text-align: center;
    padding-bottom: 10px;

}

.choose3axis {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 0 0 15px 0;
    margin: 0;
}

.resultParty > h3 {
    text-align: center;
}

.resultParty > h3:nth-child(1) {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 800;
    font-size: 25px;
    padding: 35px 0 13px 0;
    margin: 0;
}

.resultParty > h3:nth-child(2) {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 800;
    font-size: 26px;
    padding: 0 0 15px 0;
    margin: 0;

}

.choose_axises {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #555;
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    column-gap: 30px;
    row-gap: 15px;
    justify-content: space-around;

}

.chooseAnswer {
    color: #ED1C24;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;

}

/*------style in result page END-----*/

/*scatter-line*/
.full-result {
    font-family: 'Roboto', sans-serif;

    font-weight: 800;
    font-size: 26px;
}

.scatter-line > div > .decision {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #474747;
    font-size: 16px;
    align-items: start;
    justify-items: center;
}

.decision > div > div {
    width: 2px;
    height: 50px;
    background: #2b2b2b;
}

.scatter-line > div > .decision > .plus {
    justify-self: end;
    text-align: right;
    padding-left: 5px;

}

.scatter-line > div > .decision > .minus {
    justify-self: start;
    text-align: left;
    padding-right: 5px;
}


.arrows {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;

}

.partyImage {
    text-align: center;
}

.partyImage > a {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.decision > * > i {
    padding-top: 5px;
}

.scatter-line {
    padding-bottom: 50px;
}

.scatter-line > h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19px;
    padding: 19px 0 0 15px;
    margin: 0;
}

.scatter-line > .nameAxis {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.scatter-line > .nameAxis > h5 {
    align-items: center;
    border: 2px solid #6d6d6d;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    transform: none;
    padding: 7px 40px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.4s ease 0s;
    place-self: center;
    outline: none;
    margin: 15px 0 35px 0;


}

.legend > h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 19px;
    padding: 15px 0 0 0;
    margin: 0;

}

/*position*/
.result-position {
    padding-bottom: 60px;
}

.result-position > * {
    padding: 0;
    margin: 0;
}

.select_box_li {

}

.scatter {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
}

@media only screen and (max-width: 770px) {
    .myLegends {
        column-gap: 30px;
    }

    .notEnterByEmail > p {
        font-size: 14px;

    }

    button {
        font-size: 11px;
        padding: 7px 25px;
    }

    /*style for question*/
    .question_title {
        font-size: 17px;
    }

    .question_item > span {
        font-size: 16px;
    }

    /*style for question END*/
    /*choosing 2 axises START*/
    .myLegends > div > p {
        font-size: 16px;
    }

    .resultParty > h3:nth-child(1) {
        font-size: 22px;
    }

    .resultParty > h3:nth-child(2) {
        padding-bottom: 10px;
        font-size: 22px;
    }

    .choose_axises > div > label > span:nth-child(2) {
        font-size: 16px;
    }

    .choose3axis {
        font-size: 20px;
    }

    .full-result {
        font-size: 22px;
    }

    /*choosing 2 axises END*/
    .scatter-line > h4 {
        font-size: 20px;
    }

    .scatter-line > .nameAxis > h5 {
        font-size: 17px;
    }

    .legend > h5 {
        font-size: 20px;
    }

    .scatter-line > div > .decision > p {
        font-size: 15px;
        margin: 0;
        padding: 15px 0 0 0;
    }

    .decision > div > div {
        height: 40px;
    }

    .moreResult {
        font-size: 22px;
    }

    .facebookBtn {
        margin: auto;

    }

    .facebookBtn > h4 {
        font-size: 17px;
    }


    .scatter {
        font-size: 15px;

    }


}

@media only screen and (max-width: 470px) {
    .notEnterByEmail > p {
        font-size: 12px;

    }

    button {
        font-size: 10px;

    }

    /*style for question*/
    .question_title {
        font-size: 15px;
    }

    .question_item > span {
        font-size: 15px;
    }

    /*style for question END*/
    /*choosing 2 axises START*/
    .myLegends > div > p {
        font-size: 15px;

    }

    .resultParty > h3:nth-child(1) {
        font-size: 20px;
    }

    .resultParty > h3:nth-child(2) {
        padding-bottom: 10px;
        font-size: 19px;
    }

    .choose_axises > div > label > span:nth-child(1) > span:nth-child(1) > svg {
        font-size: 1rem;
    }

    .choose_axises > div > label > span:nth-child(2) {
        font-size: 15px;
    }

    .choose3axis {
        font-size: 20px;
    }

    .full-result {
        font-size: 17px;
    }

    /*choosing 2 axises END*/
    .scatter-line > h4 {
        font-size: 18px;
    }

    .scatter-line > .nameAxis > h5 {
        font-size: 16px;
    }

    .legend > h5 {
        font-size: 18px;
    }

    .scatter-line > div > .decision > p {
        font-size: 15px;
        margin: 0;
        padding: 10px 0 0 0;
    }

    .decision > div > div {
        height: 30px;
    }

    .moreResult {
        font-size: 19px;
    }

    .facebookBtn > h4 {
        font-size: 16px;
    }

    .fb > div {
        display: grid;
        grid-template-columns: 2fr 9fr 1fr;
        align-items: center;
    }

    .fb > div > p {
        font-size: 12px;

    }

    .scatter {
        font-size: 13px;

    }

}

@media only screen and (max-width: 330px) {
    .notEnterByEmail > p {
        font-size: 13px;

    }

    button {
        font-size: 10px;
        padding: 7px 20px;
    }

    .choose_axises {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 15px;
        justify-content: space-around;
    }

    .full-result {
        font-size: 15px;
    }

    /*choosing 2 axises END*/
    .scatter-line > h4 {
        font-size: 15px;
    }

    .scatter-line > .nameAxis > h5 {
        font-size: 15px;
    }

    .facebookBtn > h4 {
        font-size: 15px;
    }

    .legend > h5 {
        font-size: 15px;
    }

}